<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="sidebar.html::headerfiles">
    </th:block>
</head>

<body class="">
<div class="wrapper ">
    <div th:replace="sidebar.html::sidebar"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:;">Dashboard</a>
            </div>
            <div th:replace="sidebar.html::navbar"></div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">content_copy</i>
                                </div>
                                <p class="card-category">Used Space</p>
                                <h3 class="card-title">49/50
                                    <small>GB</small>
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-danger">warning</i>
                                    <a href="javascript:;">Get More Space...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">store</i>
                                </div>
                                <p class="card-category">Revenue</p>
                                <h3 class="card-title">$34,245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">date_range</i> Last 24 Hours
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">info_outline</i>
                                </div>
                                <p class="card-category">Fixed Issues</p>
                                <h3 class="card-title">75</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Tracked from Github
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <p class="card-category">Followers</p>
                                <h3 class="card-title">+245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-success">
                                <div class="ct-chart" id="dailySalesChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Daily Sales</h4>
                                <p class="card-category">
                                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase
                                    in today sales.</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> updated 4 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning">
                                <div class="ct-chart" id="websiteViewsChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Email Subscriptions</h4>
                                <p class="card-category">Last Campaign Performance</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-danger">
                                <div class="ct-chart" id="completedTasksChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Completed Tasks</h4>
                                <p class="card-category">Last Campaign Performance</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-primary">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <span class="nav-tabs-title">Tasks:</span>
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#jobs" data-toggle="tab">
                                                    Jobs
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#employees" data-toggle="tab">
                                                    Employees
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#advertisements" data-toggle="tab">
                                                    Advertisements
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#resumes" data-toggle="tab">
                                                    Resumes
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="jobs">
                                        <table class="table">
                                            <tbody id="jobTable">
                                            <tr th:each="job: ${jobs}" th:id="${'job_'+job.getId()}">
                                                <td th:text="${'ID: '+job.getId()}"></td>
                                                <td th:text="${job.getUser().getFirstname()+' '+job.getDate()}"></td>
                                                <td class="td-actions text-right">
                                                    <button type="button" th:data="${'job_'+job.getId()}"
                                                            class="btn btn-success" onclick="accept(this)">
                                                        <i class="material-icons">check</i>
                                                    </button>
                                                    <button type="button" th:data="${'job_'+job.getId()}"
                                                            class="btn btn-danger" onclick="remove(this)">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="employees">
                                        <table class="table">
                                            <tbody id="empTable">
                                            <tr th:each="employee: ${employees}" th:id="${'employee_'+employee.getId()}">
                                                <td th:text="${'ID: ' + employee.getId()}"></td>
                                                <td th:text="${employee.getUser().getFirstname()+' '+employee.getDate()}"></td>
                                                <td class="td-actions text-right">
                                                    <button type="button" th:data="${'employee_'+employee.getId()}"
                                                            class="btn btn-success" onclick="accept(this)">
                                                        <i class="material-icons">check</i>
                                                    </button>
                                                    <button type="button"th:data="${'employee_'+employee.getId()}"
                                                            class="btn btn-danger" onclick="remove(this)">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="advertisements">
                                        <table class="table">
                                            <tbody id="advTable">
                                            <tr th:each="advertisement: ${advertisements}" th:id="${'advertisement_'+advertisement.getId()}">
                                                <td th:text="${'ID: ' + advertisement.getId()}"></td>
                                                <td th:text="${advertisement.getUser().getFirstname()+' '+advertisement.getDate()}"></td>
                                                <td class="td-actions text-right">
                                                    <button type="button"th:data="${'advertisement_'+advertisement.getId()}"
                                                            class="btn btn-success" onclick="accept(this)">
                                                        <i class="material-icons">check</i>
                                                    </button>
                                                    <button type="button"th:data="${'advertisement_'+advertisement.getId()}"
                                                            class="btn btn-danger" onclick="remove(this)">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="resumes">
                                        <table class="table">
                                            <tbody id="resTable">
                                            <tr th:each="resume: ${resumes}" th:id="${'resume_'+resume.getId()}">
                                                <td th:text="${'ID:' + resume.getId()}"></td>
                                                <td th:text="${resume.getUser().getFirstname()+' '+resume.getDate()}"></td>
                                                <td class="td-actions text-right">
                                                    <button type="button" th:data="${'resume_'+resume.getId()}"
                                                            class="btn btn-success" onclick="accept(this)">
                                                        <i class="material-icons">check</i>
                                                    </button>
                                                    <button type="button" th:data="${'resume_'+resume.getId()}"
                                                            class="btn btn-danger" onclick="remove(this)">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title">To'lovlar tarixi</h4>
                                <p class="card-category">Bugungi to'lovlar <script>
                                    document.write(new Date().getUTCDate()+"/"+(new Date().getUTCMonth()+1)+"/"+new Date().getFullYear())
                                </script></p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Payment</th>
                                    <th>User</th>
                                    </thead>
                                    <tbody id="payTable">
                                    <tr th:each="payment: ${payments}">
                                        <td th:text="${payment.getId()}"></td>
                                        <td th:text="${payment.getType()}"></td>
                                        <td th:text="${payment.getAmount()}"></td>
                                        <td th:text="${payment.getUser().getFirstname()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title"> Sidebar Filters</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger active-color">
                    <div class="badge-colors ml-auto mr-auto">
                        <span class="badge filter badge-purple" data-color="purple"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-warning" data-color="orange"></span>
                        <span class="badge filter badge-danger" data-color="danger"></span>
                        <span class="badge filter badge-rose active" data-color="rose"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Images</li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../static/assets/img/sidebar-1.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../static/assets/img/sidebar-2.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../static/assets/img/sidebar-3.jpg" alt="">
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../static/assets/img/sidebar-4.jpg" alt="">
                </a>
            </li>
            <li class="button-container">
                <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank"
                   class="btn btn-primary btn-block">Free Download</a>
            </li>
            <!-- <li class="header-title">Want more components?</li>
                <li class="button-container">
                    <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
                      Get the pro version
                    </a>
                </li> -->
            <li class="button-container">
                <a href="https://demos.creative-tim.com/material-dashboard/docs/2.1/getting-started/introduction.html"
                   target="_blank" class="btn btn-default btn-block">
                    View Documentation
                </a>
            </li>
            <li class="button-container github-star">
                <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard"
                   data-icon="octicon-star" data-size="large" data-show-count="true"
                   aria-label="Star ntkme/github-buttons on GitHub">Star</a>
            </li>
            <li class="header-title">Thank you for 95 shares!</li>
            <li class="button-container text-center">
                <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45
                </button>
                <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50
                </button>
                <br>
                <br>
            </li>
        </ul>
    </div>
</div>
<!--   Core JS Files   -->
<script th:src="@{~/assets/js/core/jquery.min.js}"></script>
<script th:src="@{~/assets/js/core/popper.min.js}"></script>
<script th:src="@{~/assets/js/core/bootstrap-material-design.min.js}"></script>
<script th:src="@{~/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!-- Plugin for the momentJs  -->
<script th:src="@{~/assets/js/plugins/moment.min.js}"></script>
<!--  Plugin for Sweet Alert -->
<script th:src="@{~/assets/js/plugins/sweetalert2.js}"></script>
<!-- Forms Validations Plugin -->
<script th:src="@{~/assets/js/plugins/jquery.validate.min.js}"></script>
<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script th:src="@{~/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script th:src="@{~/assets/js/plugins/bootstrap-selectpicker.js}"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script th:src="@{~/assets/js/plugins/bootstrap-datetimepicker.min.js}"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script th:src="@{~/assets/js/plugins/jquery.dataTables.min.js}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script th:src="@{~/assets/js/plugins/bootstrap-tagsinput.js}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script th:src="@{~/assets/js/plugins/jasny-bootstrap.min.js}"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script th:src="@{~/assets/js/plugins/fullcalendar.min.js}"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script th:src="@{~/assets/js/plugins/jquery-jvectormap.js}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script th:src="@{~/assets/js/plugins/nouislider.min.js}"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js}"></script>
<!-- Library for adding dinamically elements -->
<script th:src="@{~/assets/js/plugins/arrive.min.js}"></script>
<!--  Google Maps Plugin    -->
<script th:src="@{https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE}"></script>
<!-- Chartist JS -->
<script th:src="@{~/assets/js/plugins/chartist.min.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{~/assets/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{~/assets/js/material-dashboard.js}" type="text/javascript"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{~/assets/demo/demo.js}"></script>
<script>
    $(document).ready(function () {
        $().ready(function () {
            $sidebar = $('.sidebar');

            $sidebar_img_container = $sidebar.find('.sidebar-background');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');

            window_width = $(window).width();

            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

            if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                    $('.fixed-plugin .dropdown').addClass('open');
                }

            }

            $('.fixed-plugin a').click(function (event) {
                // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                if ($(this).hasClass('switch-trigger')) {
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    } else if (window.event) {
                        window.event.cancelBubble = true;
                    }
                }
            });

            $('.fixed-plugin .active-color span').click(function () {
                $full_page_background = $('.full-page-background');

                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-color', new_color);
                }

                if ($full_page.length != 0) {
                    $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.attr('data-color', new_color);
                }
            });

            $('.fixed-plugin .background-color .badge').click(function () {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('background-color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-background-color', new_color);
                }
            });

            $('.fixed-plugin .img-holder').click(function () {
                $full_page_background = $('.full-page-background');

                $(this).parent('li').siblings().removeClass('active');
                $(this).parent('li').addClass('active');


                var new_image = $(this).find("img").attr('src');

                if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    $sidebar_img_container.fadeOut('fast', function () {
                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $sidebar_img_container.fadeIn('fast');
                    });
                }

                if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $full_page_background.fadeOut('fast', function () {
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                        $full_page_background.fadeIn('fast');
                    });
                }

                if ($('.switch-sidebar-image input:checked').length == 0) {
                    var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                }
            });

            $('.switch-sidebar-image input').change(function () {
                $full_page_background = $('.full-page-background');

                $input = $(this);

                if ($input.is(':checked')) {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar_img_container.fadeIn('fast');
                        $sidebar.attr('data-image', '#');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page_background.fadeIn('fast');
                        $full_page.attr('data-image', '#');
                    }

                    background_image = true;
                } else {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar.removeAttr('data-image');
                        $sidebar_img_container.fadeOut('fast');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page.removeAttr('data-image', '#');
                        $full_page_background.fadeOut('fast');
                    }

                    background_image = false;
                }
            });

            $('.switch-sidebar-mini input').change(function () {
                $body = $('body');

                $input = $(this);

                if (md.misc.sidebar_mini_active == true) {
                    $('body').removeClass('sidebar-mini');
                    md.misc.sidebar_mini_active = false;

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                } else {

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                    setTimeout(function () {
                        $('body').addClass('sidebar-mini');

                        md.misc.sidebar_mini_active = true;
                    }, 300);
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                var simulateWindowResize = setInterval(function () {
                    window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function () {
                    clearInterval(simulateWindowResize);
                }, 1000);

            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        md.initDashboardPageCharts();

    });
</script>
<script>
    function connect() {

        // Create and init the SockJS object
        var socket = new SockJS('/ws');
        var stompClient = Stomp.over(socket);

        // Subscribe the '/notify' channell
        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/user/queue/notify', function (notification) {

                // Call the notify function when receive a notification
                notify(notification.body);


            });
        });

        return;
    } // function connect

    /**
     * Display the notification message.
     */
    function notify(body) {
        var notify = JSON.parse(body);
        if(notify.type=="payment"){
            $.notify({
                icon: "add_alert",
                message: "To'landi!"

            }, {
                type: 'success',
                timer: 4000,
                placement: {
                    from: 'bottom',
                    align: 'right'
                }
            });
            $("#payTable").append("<tr> <td>"+notify.post.id+"</td><td>"+notify.post.type+"</td><td>"+notify.post.amount+"</td><td>"+notify.post.user.firstname+"</td> </tr>");
        } else {
        $.notify({
            icon: "add_alert",
            message: "Yangi " + notify.type + " qabul qilindi!"

        }, {
            type: 'success',
            timer: 4000,
            placement: {
                from: 'bottom',
                align: 'right'
            }
        });}
        var notifySound = new Audio("https://res.cloudinary.com/dxfq3iotg/video/upload/v1557233524/success.mp3");
        return;
    }

    /**
     * Init operations.
     */
    $(document).ready(function () {

        // Start the web socket connection.
        connect();

    });

    function accept(obj){
        var type = obj.getAttribute("data").split("_");
        if(type[0]=="advertisement"){
            $.ajax({
                url: "/advertisement/pay/"+type[1],
                type: "POST"
            });
            $("#advertisement_"+type[1]).remove();
        } else if(type[0]=="job"){
            $.ajax({
                url: "/job/pay/"+type[1],
                type: "POST"
            });
            $("#job_"+type[1]).remove();
        } else if(type[0]=="employee"){
            $.ajax({
                url: "/employee/pay/"+type[1],
                type: "POST"
            });
            $("#employee_"+type[1]).remove();
        } else {
            $.ajax({
                url: "/resume/pay/" + type[1],
                type: "POST"
            });
            $("#resume_"+type[1]).remove();
        }
    }
    function remove(obj) {
        var type = obj.getAttribute("data").split("_");
        if(type[0]=="advertisement"){
            $.ajax({
                url: "/advertisement/delete/"+type[1],
                type: "POST"
            });
            $("#advertisement_"+type[1]).remove();
        } else if(type[0]=="job"){
            $.ajax({
                url: "/job/delete/"+type[1],
                type: "POST"
            });
            $("#job_"+type[1]).remove();
        } else if(type[0]=="employee"){
            $.ajax({
                url: "/employee/delete/"+type[1],
                type: "POST"
            });
            $("#employee_"+type[1]).remove();
        } else {
            $.ajax({
                url: "/resume/delete/" + type[1],
                type: "POST"
            });
            $("#resume_"+type[1]).remove();
        }
        $.notify({
            icon: "add_alert",
            message: "Ma'lumot muvaffaqqiyatli o'chirildi!"

        }, {
            type: 'info',
            timer: 4000,
            placement: {
                from: 'bottom',
                align: 'right'
            }
        });
    }
</script>

</body>

</html>